@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@300;400;700&display=swap");
* {
  font-size: 100%;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a,
a:visited,
a:link,
a:hover {
  color: unset;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-size: 1.875rem;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#84c4d8), to(#4b7380));
  background: linear-gradient(180deg, #84c4d8 0%, #4b7380 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h1 {
  font-size: 2rem;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

#balance {
  margin-bottom: 3.125rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 23rem;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.625rem;
  margin: 0 1rem;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__title {
  margin: 2.5rem 0 1.5rem 0;
}

.form__input {
  width: 15rem;
  background: #ffffff;
  -webkit-box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  outline: none;
  padding: 1rem 1.3rem;
  margin-bottom: 1.2rem;
}

.form__informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-button {
  color: #545454;
  font-weight: 700;
  background: linear-gradient(261.59deg, #b1ffcc 0%, #69ff9c 100%);
  border-radius: 6px;
  padding: 0.9rem 2.7rem;
  margin: 2.5rem 0;
}
/*# sourceMappingURL=style.css.map */