h1,
h2 {
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;

    background: linear-gradient(180deg, #84c4d8 0%, #4b7380 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h1 {
    font-size: 2rem;
}

h3 {
    color: $grayDark;
    font-size: 1.75rem;
    font-weight: 600;
    margin-right: 2rem;
}
