@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@300;400;700&display=swap');

// Fonts
$inter: 'Inter', sans-serif;
$lato: 'Lato', sans-serif;

// Colors
$primary: #1a1818;
$white: #ffffff;
$background: #383838;

// Gradients
$darkGradient: linear-gradient(162.92deg, #101010 0%, #282525 100%);

//RWD 450px, 800px, 1200px, 1400px
$breakpoints: (
    'sm': '28.125rem',
    'md': '50rem',
    'lg': '75rem',
    'xl': '87.5rem',
);
